.body {
    font-family: Arial, Helvetica, sans-serif;
}

.main-header {
    vertical-align: text-bottom;
    color: rgb(255, 0, 0);
    margin: 0px;
    font-weight: 100;
    font-size: 35px;
    padding-right: 20px;

}

.header {
    display: flex;
    flex-direction: row;
    align-items: baseline;
    margin-bottom: 2px;
    font-size: 25px;
    color: rgb(140, 140, 140);
}

.nav-bar {
    display: flex;
    justify-content: flex-end;
    border-top: solid;
    border-top-width: 5px;
    font-size: 20px;
    padding-top: 2px;

}

.nav-link {
    margin-left: 15px;
    text-decoration: none;
}

.nav-link:link {
    color: rgb(255, 0, 0);
}

.nav-link:visited {
    color: rgb(255, 0, 0);
}

.nav-link:hover {
    color: rgb(140, 140, 140);
}

.nav-link:active {
    color: rgb(0, 0, 0);
}

.about-me { 
    display: flex;
    flex-direction: column;
    /* border: dashed red; */
    font-size: 15px;
}

.work {
    display: flex;
    flex-wrap: wrap;
    /* border: solid; */
    /* border-width: 5px; */
    /* border-color: darkgreen; */
    justify-content: space-around;
}

.showcase-project {
    display: flex;
    position: relative;
    border: solid;
    border-width: 5px;
    /* max-width: 100%; */
    /*  */
    max-width: 600px;
    max-height: 600px;
    margin: 5px;
}

.project-column {
    display: flex;
    flex-direction: column;
    /* border: dashed red; */
}

.small-project{
    display: flex;
    position: relative;
    border: solid;
    border-width: 5px;
    /* max-width: 100%; */
    /*  */
    max-width: 400px;
    max-height: 300px;
    margin: 5px;
    
}

.project-header {
    position: absolute;
    color: rgb(255, 0, 0);
    margin: 0px;
    font-weight: 100;
    font-size: 35px;
}

.main-app {
    width: 100%;
  height: auto;
}

.side-app {
    width: 100%;
  height: auto;
}

.contact {
    display: flex;
    border-top: solid;
    border-top-width: 5px;
    justify-content: space-between;
    /* justify-content: center; */
}

.contact-head {
    font-size: 25px;
    color: rgb(255, 0, 0);
    font-weight: 100;
}

.contact-icon {
    height: 70px;
    width: 70px;
}
.l {
    width: inherit;
}